@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@700&family=Montserrat&family=Roboto+Slab&display=swap');

/* ################ COMMON ################ */
* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    -webkit-box-shadow: inset 0 0 6px #ffffff50;
    background-color: #1689fc56;
}

body {
    transition: transform 1s;
}

a {
    color: white;
    text-decoration: none !important;
}

/* ############## FONTS ############## */
.roboto {
    font-family: 'Roboto Slab', serif;
}

.miriam {
    font-family: "Miriam Libre", sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* ############## FONTS ############## */
h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
}

.rounded-corner-border {
    border-radius: 3rem;
}

.rounded-corner-image {
    border-radius: 1rem;
}

.remove-margin {
    margin: 0;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 99;
}

.transparent-black {
    background-color: #000000a9 !important;
}

.transparent-white {
    background-color: #ffffffa9 !important;
}

.anthracite {
    background-color: #303030 !important;
}

.anthracite-text {
    color: #303030 !important;
}

/* ################ COMMON ################ */
/* ################ HEADER ################ */
.game-name {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

.game-description {
    font-size: medium;
    letter-spacing: -1px;
}

/* ################ HEADER ################ */
/* ################ NAVBAR ################ */
.navbar .navbar-header {
    border-bottom-style: solid;
    border-color: #e5e5e5;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar h2 {
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.navbar.sidenav a.underline {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
}

.navbar .btn-contact {
    position: absolute;
    bottom: 10px;
    right: 24px;
    margin-bottom: 10vh;
}

/* ################ NAVBAR ################ */
/* ################# MAIN ################# */
.container-padding {
    padding-left: 5vw;
    padding-right: 5vw;
}

/* ############# QUESACO ############# */
.quesaco-padding {
    padding-left: 3vw;
    padding-right: 3vw;
}

.quesaco-header {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-style: solid;
    border-color: #e5e5e5;
    background-color: #ebebeb;
    max-height: 35vh;
}

.quesaco-header img {
    width: 10vh;
    margin-top: 5vh;
    margin-bottom: 0;
}

.quesaco-header h2 {
    font-size: 7vh;
    margin: 0;
    line-height: 8vh;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -2px;
}

.quesaco .qst {
    background-color: #e8e7ec;
    color: #343434;
    border-radius: 3rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 1rem;
    min-height: 7vh;
    justify-content: center;
    margin: 0.5vh;
    padding: 2vh;
}

.quesaco .rep {
    background-color: #1689fc;
    border-radius: 3rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 1rem;
    min-height: 7vh;
    margin: 0.5vh;
    padding: 2vh;
}

.quesaco .btn-floating:hover {
    background-color: #d1d1d1a9;
}

/* ############# QUESACO ############# */
/* ############# PROJETS ############# */
.container-project {
    display: none;
    padding-top: 3vh;
}

.projects p {
    padding: 0;
}

.projects .row:hover p {
    display: block;
    white-space: normal;
    overflow: auto;
    text-overflow: auto;
}

.projects img {
    height: 90%;
    width: 90%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 0;
    padding-right: 0;
}

.projects .row .text-title {
    padding-left: 3vw;
    padding-right: 3vw;
}

.projects .row .left-text {
    padding-left: 4vw;
    padding-right: 2vw;
}

.projects .row .right-text {
    padding-left: 2vw;
    padding-right: 4vw;
}

.projects .left-project {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    margin-left: 10%
}

.projects .right-project {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    margin-right: 10%;
}

.projects .left-border {
    border-left-style: solid;
    border-color: grey;
}

.projects .right-border {
    border-right-style: solid;
    border-color: grey;
}

/* ############# PROJETS ############# */
/* ############## MODAL ############## */
.modal {
    background-color: #000000cc !important;
    overflow: hidden !important;
    max-height: 74% !important;
}

.modal-content .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.modal-content .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6b409150;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.modal-content .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.modal-content .card:after {
    content: 'Tech';
    position: absolute;
    top: 50%;
    left: 0%;   
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: #6b409117
}

.modal-content .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.modal-content .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);

}

.modal-content .card .imgBx img {
    width: 50%;
    border-style: solid;
    border-color: #ffffffa9;
}

.modal-content .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.modal-content .card:hover .contentBx {
    height: 210px;
}

.modal-content .card .contentBx h2 {
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0 auto;
}

.modal-content .card .contentBx .age, .modal-content .card .contentBx .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.modal-content .card:hover .contentBx .age {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.modal-content .card:hover .contentBx .desc {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.modal-content .card .contentBx .age h3, .modal-content .card .contentBx .desc h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.modal-content .card .contentBx .age span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;

}

.modal-content .linkedin {
    width: 100%;
}

.modal-footer {
    background-color: #ffffff80 !important;
    height: auto !important;
}

.modal-footer label {
    color: #000000cc;
}

.modal-footer .btn{
    background-color: #6b409150;
}

.modal-footer textarea.materialize-textarea {
    overflow-y: scroll !important;
    height: 1px !important;
}

.modal-footer textarea::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

.modal-footer textarea::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #6b409150;
}

/* ############## MODAL ############## */
/* ################# MAIN ################# */
.rick {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.antoine {
    display: none;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    box-shadow: 0px 0px 50px 20px #fff;
}

@keyframes rotation_loop {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rick_loop {
    0% {
        background-color: rgba(0, 0, 0, 0.3);
    }

    25% {
        background-color: rgba(255, 0, 0, 0.3);
    }

    50% {
        background-color: rgba(0, 255, 0, 0.3);
    }

    75% {
        background-color: rgba(0, 0, 255, 0.3);
    }

    100% {
        background-color: rgba(255, 0, 255, 0.3);
    }
}

@keyframes heaven {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
    }
}